In [2]:
#Calculate the sum, difference, product, and quotient of two numbers.
a = 7
b = 9
a+b

16

In [4]:
a-b

-2

In [6]:
a*b

63

In [8]:
a/b

0.7777777777777778

In [1]:
#Perform various assignment operations on a variable>> it's syntax is "arithmatic operator and =" means first perform operation(+,-,*,/ etc) then 
#outcome value assign to the variable. let see the example:-
#without assignment operator
x  = 12
x+8

20

In [3]:
x #x+8 perform but output not assign to variable now assignment operator come into the picture.

12

In [15]:
#with assignment operator
y = 12
y += 8

In [17]:
y #y+8 perform and also output assign to variable.

20

In [19]:
y -= 8

In [21]:
y

12

In [23]:
y /= 4

In [25]:
y

3.0

In [27]:
y *= 10

In [29]:
y

30.0

In [31]:
#Compare two numbers and print the results.
c = 12
d = 15
if c<d:
    print("c is less than d")

c is less than d

In [39]:
c = 12
d = 10
if c>d:
    print("c is greater than d")

c is greater than d

In [43]:
c = 10
d = 10
if c==d:
    print("c is equal to d")

c is equal to d

In [45]:
#Check conditions using logical operators.
age = 22
income = 1200
if age>=18 or income>=15000: #one condition is true out of both result will be true.
    print("eligible for loan")
else:
    print("not eligible")

eligible for loan

In [47]:
if age>=18 and income>=15000: #both condition is true out of both result will be true.
    print("eligible for loan")
else:
    print("not eligible")

not eligible

In [49]:
name = False
age = True
if not name: #not give us opposite result means true convert to false and false convert to true. 
    print("your name is correct") # false become true result printed.
if not age:
     print("your age is correct") # true become false given code not executed.

your name is correct

In [51]:
#Check the identity of variables>> two identity operators "is" and "is not" let see example:-
name1  = "raj"
name2  = "jay"
name1 is name2

False

In [53]:
name1 is not name2

True

In [55]:
age1  = 12
age2  = 12
age1 is age2

True

In [57]:
age1 is not age2

False

In [59]:
#Perform bitwise operations on any two integers.
e = 8 #bin(8) = 1000
f = 3 #bin(3) = 0011
e&f # & represents "bitwise and" operator>> both value have 1 then result will be 1 otherwise return will be 0.

0

In [61]:
e|f # | represents "bitwise or" operator>> one value have 1 then result will be 1 otherwise return will be 0.(bin(11) = 1011)

11

In [63]:
~e # ~ represents "bitwise not" operator>> which change the sign + to - and - to + and increase value by 1.

-9

In [5]:
j = 8 #bin(8) = 1000
k = 3 #bin(3) = 0011
j^k # ^ represents "bitwise Xor" operator>> one value have 1 and other is 0 then result will be 1 otherwise return will be 0 when both value same.
#(bin(11) = 1011)

11

In [15]:
#left shift(<<) - which adds 0 in last.
#Right shift(>>) - which remove digit from last.
j<<3 #bin(64) = 1000000

64

In [13]:
j>>3 #bin(1) = 1

1

In [25]:
#Use unary operators to change the sign of a number.
m = 95
n = -m
n

-95

In [29]:
v = -40
x = -v
x

40

In [35]:
#Use the ternary operator to assign values based on conditions.

a = 15
greater = "a is greater than 10" if a>10 else "a is less than or equal to 10"
print(greater)

a is greater than 10